* {
    padding: 0;
    /* padding: jarak border ke konten */
    margin: 0;
    /* margin: jarak antar elemen */
}

/* # digunakan untuk memanggil elemen berdasarkan ID nya */
#header {
    width: 100%;
    /* untuk mengatur lebar */
    height: 60vh;
    /* vh adalah satuan viewport height */
    background-color: #20a860;

    /* utk centering content */
    display: flex;
    /* flex: flexible */
    justify-content: center;
    /* justify content: utk center konten secara horizontal */
    align-items: center;
    /* align items: utk center konten secara vertikal */
}

#title {
    width: 70%;
    text-align: center;
    /* text-align: perataan teks */
}

#title>h2 {
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Tahoma';
}

#title>h1 {
    font-size: 55px;
    text-transform: uppercase;
    font-family: 'Tahoma';
    color: white;
}

#title>p {
    font-size: 16px;
    font-family: 'Tahoma';
}

#title>button {
    background-color: coral;
    color: white;
    padding: 15px;
    border: none;
    /* border: garis tepi */
    margin: 10px;
    border-radius: 15px;
    /* setting corner menjadi rounded */
    width: 200px;
    font-size: 20px;
}

#feature {
    width: 100%;
}

#feature>h2 {
    font-size: 35px;
    font-family: "Tahoma";
    text-transform: capitalize;
    text-align: center;
    margin-top: 30px;
}

#feature>p{
    font-size: 18px;
    color: grey;
    text-align: center;
}

#feature-area{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-item{
    width: 40%;
    background-color: lightgrey;
    height: 100px;
    margin: 15px;

    display: flex;
    align-items: center;
}

.feature-item>span{   
    font-size: 60px;
    width: 80px;
    height: 80px;
    border-radius: 50%; /* utk membuat lengkungan pd border */
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
}

.feature-text{
    width: 70%;
    margin-left: 20px;
}

#oranye{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.box-oranye{
    width: 49.8%;
    height: 150px;
    background-color: orangered;
    border: 1px solid coral;

    display: flex;
    align-items: center;
}

.box-oranye>span{
    font-size: 90px;
    color: white;
    margin-left: 20px;
}

.box-oranye>.oranye-text{
    font-size: 20px;
    color: white;
    padding-left: 10px;
}

#quotes{
    width: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#icon-user{
    font-size: 120px;
    width: 120px;
    height: 120px;
    border: 5px solid grey;
    border-radius: 50%;
    margin-right: 30px;
}

#text-quotes{
    font-size: 20px;
    font-family: "Tahoma";
    color: gray;
    font-style: italic;
}

#footer{
    width: 100%;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    
    display: flex;
    justify-content: center;
}

#menu>a{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin: 10px;
    text-decoration: none;
}

#menu>a:hover{
    color: greenyellow;
}



















